<h1 class="post_align1">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field indent1">
    <%= f.label :email, "Email: ", :class => "labelStyle1" %>
    <%= f.email_field :email, :class => "fieldStyle1", autocomplete: "off", autofocus: true %>
  </div>

  <div class="field indent1">
    <%= f.label :password, "Password: ", :class => "labelStyle1" %>
    <%= f.password_field :password, :class => "fieldStyle1 fieldWidth1", autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field indent8">
      <%= f.check_box :remember_me, :class => "fieldStyle3" %>
      <%= f.label :remember_me, :class => "labelStyle1" %>
    </div>
  <% end -%>

  <div class="actions post_align1">
    <%= f.submit("Log in", :class => "buttonStyle1") %>
  </div>
<% end %>
<br>
<div class="post_align2">
  <%= render "devise/shared/links" %>
</div>
