<!DOCTYPE html>
<html>
	<head>
		<title>HotRockChurch</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rouge+Script">

	</head>

	<body class="backimg">
		<div class="page_header_joint page_header1">
			House on The Rock Christian Fellowship
		</div>

		<a href="/">
		<img src="/assets/logo.jpg" alt="HOTROCK Logo goes here." width="100" height="100" title="Home" style="position:absolute; top:20px; left:20px; border:0">
		</a>

		<%= yield %>

		<!-- ******** Dropdown Menu ********** -->

		<span class="dropdown">
			<div class="hamburgerMenu"></div>
			<div class="hamburgerMenu"></div>
			<div class="hamburgerMenu"></div>
			<div class="dropdown-content">
				<nav>
					<li><a href="/" title="Home">Welcome</a></li>
					<% if current_user %>
						<li id="ws"><a href="posts#index" title="Posts">Posts</a>
							<nav>
								<li><a href="/posts/new" title="Create New">Create New</a></li>
								<li><a href="#" title="Coming Soon">View All</a></li>
								<li><a href="/posts/:id" title="Coming Soon">View Mine</a></li>
							</nav></li>
					<% end %>
					<% if !current_user %>
						<li><a href="/posts" title="Helps">Helps</a></li>
<!-- 						<li><a href="/users/sign_up" title="Register">Register</a></li> -->
<!-- 						<li><a href="/users/sign_in" title="Login">Login</a></li> -->
					<% end %>
					<li><a href="#" title="Coming Soon">Contact</a></li>
					<li><a href="#" title="Coming Soon">About</a></li>
					<% if current_user %>
						<li title="Log Out"><%= link_to 'Log Out',  { :action=>"destroy", :controller=>"devise/sessions" }, method: :delete  %></li>
					<% end %>
				</nav>
			</div>
		</span>
		<!-- ******** Dropdown Menu ********** -->

	</body>
</html>

