  <div class="centerText">
    <%= f.label :fname, "First Name: ", :class => "labelStyle1" %>
    <%= f.text_field(:fname, placeholder: "First Name", :class => "fieldStyle1 fieldWidth1", autocomplete: "off") %>
    <span>
      &nbsp&nbsp<%= f.label :lname, "Last Name: ", :class => "labelStyle1" %>
      <%= f.text_field(:lname, placeholder: "Last Name", :class => "fieldStyle1 fieldWidth1", autocomplete: "off") %>
    </span>
  </div>

  <div class="centerText">
    <%= f.label :address1, "Address1: ", :class => "labelStyle1" %>
    <%= f.text_field(:address1, placeholder: "Address1", :class => "fieldStyle1 fieldWidth2", autocomplete: "off") %>
    <span>
      &nbsp&nbsp<%= f.label :address2, "Address2: ", :class => "labelStyle1" %>
      <%= f.text_field(:address2, placeholder: "Address2", :class => "fieldStyle1 fieldWidth2", autocomplete: "off") %>
    </span>
  </div>

  <div class="centerText">
    <%= f.label :city, "City: ", :class => "labelStyle1" %>
    <%= f.text_field(:city, placeholder: "City", :class => "fieldStyle1 fieldWidth2", autocomplete: "off") %>
    <span class="droplist">
      &nbsp&nbsp<%= f.label :state, "State: ", :class => "labelStyle1" %>
      <%= f.select :state, ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], selected: 'NY', :class => "fieldStyle1" %>
    </span>
    <span>
      &nbsp&nbsp<%= f.label :zip_code, "Zip Code: ", :class => "labelStyle1" %>
      <%= f.text_field(:zip_code, placeholder: "Zip Code", :class => "fieldStyle1 fieldWidth7", autocomplete: "off") %>
    </span>
  </div>

  <div class="centerText">
    <%= f.label :phone_number, "Phone Number: ", :class => "labelStyle1" %>
    <%= f.text_field(:phone_number, placeholder: "7185551212", :class => "fieldStyle1 fieldWidth1", autocomplete: "off") %>
  </div>

  <% if which_button == "edit" %> <!--Display Current Password field -->
    <div class="field indent1">
      <%= f.label :current_password, "Current Password: ", :class => "labelStyle1", autocomplete: "off" %>
      <%= f.password_field :current_password, :class => "fieldStyle1 fieldWidth8", autocomplete: "off" %><br>
      <i>(we need your current password to confirm your changes)</i>
    </div>
  <% end -%>

  <div class="actions post_align1">
    <% if which_button == "register" %> <!--Display Register button -->
      <%= f.submit("Register", :class => "buttonStyle1") %>
    <% else %> <!--Display Update button -->
      <%= f.submit "Update", :class => "buttonStyle1" %>
    <% end -%>
  </div>

